{% extends "default/layout.html" %}
{% block content %}
<div class="our-work-gallery">
    <div class="container">
        <div  class="work-gallery">
            <h3>BLOG</h3>
            {% for page in pages %}
            <div class="row"> 
                <div class="col-md-2 col-sm-2 col-xs-2">
                    <div id="nivo-lightbox-demo">			
                        <a  href="/{{page.slug}}" style="width:30em;height:25em;">			   
                            <img src="{{page.image}}" class="img-responsive img-thumbnail" alt=""/>                        			
                        </a> 
                    </div>
                </div>
                <div class="col-md-10 col-sm-10 col-xs-10">
                    <a  href="/{{page.slug}}" style="width:30em;height:25em;">			   
                           <h4>{{page.title}}</h4>
                    </a>                     
                    <p class="text-center">{{page.short_description}}</p>
                </div>
                <div class="clear-fix"></div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}